<h1>Welcome to Practris! The Tetris training tool.</h1>
<div class="grid">
  <a href="https://localhost:5000/sprint" class="main-menu"><button class="main-menu-button">Sprint</button></a>
  <a href="https://localhost:5000/leaderboard/sprint" class="main-menu"><button class="main-menu-button"> Leaderboards</button></a>
  <a href="https://localhost:5000/settings" class="main-menu"><button class="main-menu-button">Settings</button></a>
  <a href="https://localhost:5000/cheese" class="main-menu"><button class="main-menu-button">Cheese</button></a>
  <a href="" class="main-menu"><button class="main-menu-button">Coming Soon</button></a>
</div>

